<div class="Annonce">
 <div class="Annonce_header">
  <div class="wrapper">
   <div class="Annonce_headercontent">
    <div class="Annonce_header_left">
     <div class="Annonce_header_leftcontent">
      <div class="Annonce_headerLocalisation-mobile mobile-only">
        <strong>Lisboa</strong><span>&nbsp;</span></div>
        <div class="Annonce_header_img">
         <%= image_tag @user.facebook_picture_url || "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "photo" %>
         <div class="AnnonceProf_price mobile-only">
           <div>25€</div>
         </div>
       </div>
       <div class="Annonce_header_info">
         <div class="Annonce_headerLocalisation desktop-only">
           <strong>Lisboa</strong><span>&nbsp;</span></div>
           <div class="Annonce_headerName">
            <div class="prenom"><%= @user.first_name %></div>
          </div>
          <div class="rating">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
          </div>
          <h4>12 reviews</h4>
        </div>
      </div>
    </div>
    <div class="Annonce_header_right desktop-only">
     <div class="Annonce_headerRcontent">
      <div class="Annonce_headerPrice">
       25€ <sup>/h</sup>
       <sup>
        <div class="Annonce_headerPrice-modal"></div>
      </sup>
    </div>
    <button class="btn btn-watermelon btn-lg">Book cleaning</button>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- -->

<!-- Map -->
<div class="Annonce">
  <div class="Annonce_content">
    <div class="Annonce_wrapper wrapper">
      <h2>Services</h2>



    </div>
  </div>
</div>


<!-- Testimonial -->
<div class="Annonce">
  <div class="Annonce_content">
    <div class="Annonce_wrapper wrapper">
     <div class="avis_recos">
      <div class="Annonce_full Annonce_avis" id="_avaliacao">
       <h3 class="AnnonceContent_subTitle">
        2 avaliações sobre <%= @user.first_name %>
        <ul class="ratingV2">
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="Annonce_ratingword">5/5</li>
       </ul>
     </h3>
     <div class="AnnonceContent_subTitle_text">
     Todas as avaliações são coletadas pelo nosso serviço e são fiáveis. Elas correspondem a verdadeiras experiências dos membros do Easy Cleaners.</div>
   </div>
   <div class="Annonce_full Annonce_full-marginSmall">
     <h3 class="AnnonceContent_subTitle2"> 2 avaliações </h3>
     <div class="Annonce_evaluation">
      <div class="avis ">
       <div class="Annonce_evalComment">
        <div class="Annonce_evalImg"><img src="imagens/membros/professor-particular-1364113.jpg" title="Mayumi" /></div>
        <div class="Annonce_evalTxt">
          <div class="Annonce_evalName">Mayumi <span>b2</span></div>
          <p class="AnnonceContent_text">
            <b>Perfeito!</b> Testimonal
          </p>
        </div>
      </div>
    </div>
    <div class="avis ">
     <div class="sep"></div>
     <div class="Annonce_evalComment">
      <div class="Annonce_evalImg">
       <div class="user-no-picture">A</div>
     </div>
     <div class="Annonce_evalTxt">
       <div class="Annonce_evalName">Andreia </div>
       <p class="AnnonceContent_text">
        <b>Perfeito!</b> testimonial
      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- MAP Javascript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZIpthMHHSftRPk2LYDXzmTU7mrptvW10"
async defer></script>
